$TTL 86400
@   IN  SOA ns1.test.example. admin.test.example. (
            2024010101  ; Serial
            3600        ; Refresh
            1800        ; Retry
            604800      ; Expire
            86400 )     ; Minimum TTL

    IN  NS      ns1.test.example.
ns1 IN  A       127.0.0.1
www IN  A       192.0.2.1

